body{
    padding: 0;
    margin: 0;
}

#main{
    width: 100vw;
    height: 100vh;  
}

#searc_div{
    width: 100vw;
    height: 15vh;
    /* background-color: brown; */
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#search_div_left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 10%;
}
#list:hover{
    background-color:rgb(231, 225, 225);
    cursor: pointer;
    border-radius: 47%;
}
#list{
    padding: 8px;
}


#div_middle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 50%;
    border: 1px solid;
    border-radius: 30px;    
    /* background-color: #b2b2b2; */
    /* justify-content: space-between; */
    /* background-color: yellow; */
   
  
} 
#middle_middle{
    display: flex;
    width: 100%;
    height: 100%;
  
}

#middle_input{
    height: 95%;
    width: 100%;
    border: none;
   
   
}
#div_middle_left{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    width: 10%;
}


#div_middle_right{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    width: 10%;
  
    
  
}

#search_div_right{
    display: flex;
    width: 13%;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
}
#user_span{
    border-radius: 47%;
    padding: 10px;
    background-color: orange;
    color: white;
    margin-right: 10px;
}
#user_span:hover{
    cursor: pointer;
}

#olustur{
    padding: 10px;
    /* background-color: red; */
}
#bildirimler{
    padding: 10px;
}

#olustur:hover{
    background-color:rgb(231, 225, 225);
    cursor: pointer;
    border-radius: 47%;
    /* padding: 5px; */
}

#bildirimler:hover{
    background-color:rgb(231, 225, 225);
    cursor: pointer;
    border-radius: 47%;
    /* padding: 5px; */
}

#content_container{
    width: 100vw;
    height: 85vh;
    /* background-color: aqua; */
    display: flex;
    
}

#section_left{
    width: 15%;
    height: 100%;
    /* background-color: blue; */
}

  #section_left_top{
    height: 30%;
    /* background-color: rgb(239, 238, 238); */
}

  .section_left_top_row{
    height: 33%;
    display: flex;
    width: 100%;
}
  .icon_div{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 
  .title_div{
    display: flex;
    align-items: center;
}

  #section_left_middle{
    /* background-color: rgb(239, 238, 238); */
    height: 30%;
}
 
  .section_left_middle_row{
    height: 25%;
    display: flex;
    width: 100%;
    /* border-bottom: 1px solid gray; */
}
  #siz{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .section_left_middle_row2{
    height: 10%;
    display: flex;
    width: 100%;
}

  #section_left_middle_row123{
    width: 57%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  #section_left_ent{
    height: 30%;
   }

.section_left_top_ent{
    height: 25%;
    display: flex;
    width: 100%;
  }
  #kesfet{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_left_top_row:hover{
    background-color:rgb(231, 225, 225);
    cursor: pointer;
    border-radius: 15px;
}

.section_left_middle_row:hover{
    background-color:rgb(231, 225, 225);
    cursor: pointer;
    border-radius: 15px;
} 

.section_left_top_ent:hover{
    background-color:rgb(231, 225, 225);
    cursor: pointer;
    border-radius: 15px;
}

#section_right{
    width: 85%;
    height: 100%;
}

#navbar{
    width: 100%;
    height: 10%;
    /* background-color: chartreuse; */
    justify-content: center;  
}

#navbar_inner{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-between;
    align-items: center; 
    padding-left: 20px;
}

button{
    border-radius: 8px;
    display: flex;
    margin:10px;
    height: 30px;
    background-color: rgb(239, 238, 238);
    font-size: 15px;
    color: rgb(6, 0, 0);
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
}
button:hover{
    background-color:rgb(231, 225, 225);
}

#tümü_button{
    background-color: black;
    color: white; 
}

#videos_container{
    width: 100%;
    height: 90%;
    /* background-color: bisque; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.carte{
    width: 30%;
    height: 50%;
    /* background-color: brown; */
}
.goruntu{
    width: 100%;
    height: 75%;
    
}
.görüntü2{
    border-radius: 10px;
}
.görüntü2:hover{
    border-radius: 0px;
}
.text{
    width: 100%;
    height: 30%;
    /* background-color: yellow; */
    display: flex;
}
#icon_text{
    height: 100%;
    width: 15%;
    
}
#icon_text_top{
    height: 70%;
    width: 100%;
    /* background-color: #aaa ; */
}
#icon_text_top img{
    width: 100%;
    height: 100%; 
}

#icon_botton{
    height: 30%;
    width: 100%;
}
    

#textmain{
    height: 100%;
    width: 85%;
    font-family: Arial, Helvetica, sans-serif;
    
}
#textmain h5{
    height: 100%;
    width: 100%;
    margin-top: 2%;
    margin-left: 2%;
}
#textmain {
    height: 30%;
    width: 100%;
    /* padding: 2px; */
  
}
#h5{
    height: 70%;

}

#alt_yazi{
    display: flex;
    align-content: center;
    /* padding-bottom: %; */
    margin-left:2%;
    height: 10%;

}
footer{
    background-color:rgb(153, 149, 149);
    width: 100vw;
    height: 400px;
 }
 #div_top{
    width: 100%;
    height: 350px;
    /* background-color: brown; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    
 }
 #div_top_left{
    width: 100%;
    height:350px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content:space-evenly;
     
 }
 a{
    text-decoration: none;
    color: white;
    line-height: 30px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
 }

 svg{
    /* color: white; */
    margin-top: 5px;
 }
 .sedat2{
    color: white;
 }
 .ilk_baslik{
    color: white;
    line-height: 30px;
    margin-left: 10px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .ilk_baslik:hover{
    cursor: no-drop;
 }
 
 #footer_left {
    width: 50%;
    height: 350px;
    /* background-color: aqua; */
    /* display: flex; */
    font-size: 20px;
    /* text-decoration: none; */
    padding-top: 20px;
    padding-left: 50px;
    
 }

 #footer_right{
    width: 50%;
    height: 350px;
    /* background-color: brown; */
    font-size: 20px;
    padding-top: 20px;
   
 }

 #div_top_right{
    width: 100%;
    height: 350px;
    /* background-color: blue; */
 }

 #div_top_right{
    width: 100%;
    height: 350px;
    /* background-color: chartreuse; */
    display: flex;
 }

 #right_left{
    width: 50%;
    height:350px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding-top: 20px;
 }

 #right_right{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    font-size: 20px;
    /* display: flex; */
 }

 .deneme{
    display: flex;
    width: 100%;
    justify-content: left;
    padding-top: 20px;
 }

 #footer_end{
    width: 100%;
    height: 50px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid linen;

 }

 #footer_end_bottom{
    display: flex;
    /* border: 1px solid; */
    height: 100%;
    align-items: center;
 }

 .footer_end_bottom_2 a{
    border-right: 1.5px solid;
    margin-right: 10px;
    padding-right: 5px;
    font-weight: 20px;
    font-style: normal;
    color: white;
    text-decoration: none;

 }

 #Bloogs a{
    color: white;
    text-decoration: none;

 }


